@charset "UTF-8";

body{
    position: relative;
    background-color: rgba(145, 54, 6, 0.573);
    height: 97vh;
}
table { 
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

tr {
    text-shadow: 0px 0px 2px rgb(255, 72, 21); 
}

td{
    box-shadow: 0px 2px 4px rgb(243, 66, 17), 0px 4px 0px black;
    color: rgb(255, 72, 21);
    background-color: black;
    font-weight: 550;
    font-size: small;
    border-radius: 5px;
    border: 2px solid black;
    padding: 25px;
    text-align: center;
    width: 20px;
    height: 20px;
}
